<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro"><br>
      <!-- {{ 'WELCOME_INTRO' | translate }} -->
      A Physicians' Diagnostic Services Center mobile app
    </div>
  </div>
  <div padding>
    <!-- <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button> -->
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>
  </div>  
</ion-content>
